.part1 > h2 {
    color: red;
}

.part1 > p {
    color: white;
    background-color: black;
}

.part2 {
    color: green;
}

.part2 > p {
    background-color: darkred;
}

.part3 {
    color: green;
}


.part4 > p {
    color: green;
}

.csym019 {
    background-color: lightblue;
    float: left;
    width: 50%;
}

.csym015 {
    background-color: yellow;
    width: 50%;
    float: left;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .module {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }